RewriteEngine On

#base for all the rewrites
RewriteBase /

RewriteCond %{REQUEST_URI} !^/public
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#redirect all pages to the index
RewriteRule ^(.*)\.(html|kml|json)$ index.php?route=$1&ctype=$2 [QSA] [L]

#map all errormessage to the error module
ErrorDocument 404 ./index.php?module=error&error_code=404
ErrorDocument 403 ./index.php?module=error&error_code=403
ErrorDocument 500 ./index.php?module=error&error_code=500